<% layout('layout') -%>
<% if (!user) { %>
    <div class="container">
        <div class="page-header">
            <h1>Welcome!</h1>
        </div>
        <p class="lead">Please login</p>
        <a href="/login" class="btn btn-primary">Login</a>
    </div>
<% } else { %>
    
    <div class="container">
        <h1>Map</h1>
        <section data-view-type="resource" data-resource="api/users/<%= user.username %>/map"></section>
    </div>
<script src="../content/js/lib/jquery.js"></script>
    <script type="text/javascript">
        $('section[data-view-type="resource"]').each(function (e) {
            var path = $(this).attr('data-resource');
            console.log(path);

            var server_path = "http://104.236.87.110/";
            var resource_api_path = server_path + path;

            $.get(server_path, {}, function (rez) {
                console.log(rez);
            });

        });
    </script>
<% } %>
